<?xml version="1.0" encoding="UTF-8"?>
<!-- web.xml的加载过程是context-param >> listener  >> fileter  >> servlet -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<!-- web应用的信息 -->
	<display-name>spring-mvc</display-name>
	<description>对spring-mvc的进一步分析</description>
	
	<!-- 加载配置文件 -->
	<!-- <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:context.xml</param-value>
    </context-param> -->
    
    <!-- 监听器 -->
 	<!-- 可以进行上线,下线判断 -->
 	<!-- 和DispatcherServlet分别实例化bean,导致所有bean实例化两次 -->
    <!-- <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener> -->

	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:dispatcher-servlet.xml</param-value>
		</init-param>
		<!-- Springmvc模式是关闭OPTIONS请求的，所以需要开启 -->
		<init-param>
			<param-name>dispatchOptionsRequest</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
		<!-- <url-pattern></url-pattern>:当上下文的根被请求的时候，它将被调用 -->
		<!-- <url-pattern>/</url-pattern>:会匹配到/springmvc这样的路径型url，不会匹配到模式为*.jsp这样的后缀型url。 -->
		<!-- <url-pattern>/*</url-pattern>:会匹配所有的url：路径型的和后缀型的url(包括/springmvc，.jsp，.js和*.html等)。 -->
	</servlet-mapping>
	
	<filter>
		<filter-name>CORSFilter</filter-name>
		<filter-class>com.corgiking.filter.InitCORSFilter</filter-class>
	</filter>
    <filter-mapping>
		<filter-name>CORSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 防止中文乱码 -->
	<!-- 多次尝试,没有效果 -->
	<!-- <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>  
            <param-name>forceEncoding</param-name>  
            <param-value>true</param-value>  
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> -->

</web-app>